html {
  font-family: 'Times New Roman', Times, serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
} 

.aboutMe {
  width: 50px;
  height: 450px;
}

.about {
  width: 50px;
  height: 450px;
  background-color: black;
  color: white;
  font-family: fantasy;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
