.index {
  width: 960px;
  height: 300px;
}

.main {
  margin: 0 auto;
}

.bold {
  color: lime;
  font-family: cursive;
}

h5 {
  margin: 0;
  padding-top: -100em;
}

h3 {
  margin: 0;
  padding-top: -110em;
  padding-left: 5em;
}

.aside {
  background-color: rgb(1, 22, 1);
  align-self: stretch;
  margin: 0;
  margin-top: -50vw;
  color: lightpink;
  height: 40vw;
  width: 30vw;
}

@media screen and (max-width: 1024px) {
  /* May want to change this */
  .backgroundImage {
    left: 50%;
    margin-left: -512px;
  }
}

