.main {
  margin: 0 auto;
}

.aside {
  align-self: stretch;
  background-color: rgb(1, 22, 1);
  margin: 0 auto;
  color: lightpink;

  // Positioning on the side for
  // bigger screens
  
  @include media('>=medium') {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    right: 0;
    top: 0;
    height: 100%;

    .top {
      flex-grow: 1;
    }

    .bottom {
      width: 100%;
    }
  }

.index {
  width: 100%;
  /* height: 300px; */
  padding-top: -100em;
}


.bold {
  color: lime;
  font-family: cursive;
}

h5 {
  margin: 0;
}

h3 {
  margin: 0;
  padding-top: -110em;
  padding-left: 5em;
}
/* 
.aside {
  background-color: rgb(1, 22, 1);
  align-self: stretch;
  margin: 0;
  margin-top: -50vw;
  height: 40vw;
  width: 30vw;
} */

