@import 'vars';
@import 'mixins';

body {
  @include background-size(cover);

  background-color: $background;
  background-size: cover;
  color: white;
  font-family: $Abel;
  text-align: center;
  width: 100%;
}

a {
  @include css3(text-decoration, none);
}

img {
  max-width: 900px;
}

p {
  margin: 2em auto;
  max-width: 900px;
}

input {
  margin-right: 10px;
}